<div class="jumbotron vertical-center">
  <div class="container d-flex justify-content-center marginDown">
    <form class="formStyles row" style="max-width: 800px">
        <h2 class="text-center" style="color: white">Choose Your Path Below!</h2>
        <button>Hello</button>
        <button>Goodbye</button>
    </form>
  </div>
</div>