<div class="jumbotron" style="margin-top: 72px">
    <div class="container projectBorder">
        <div class="row">
            <div class="col-md-10 align-text-bottom">
                <h2 class="m-0" id="h2">Sasquatch | Projects Dashboard</h2>
            </div>
            <div class="d-flex col-md-2 align-items-end justify-content-end">
                <button class="btn1" style="margin-right: 5px">+ New Project 🏠</button>
            </div>
        </div>
        <div class="row projectDivider">
            <div class="d-flex col-md-1 projectHeaders">
                <p class="text-align-bottom m-0">ID #</p>
            </div>
            <div class="d-flex col-md-3 projectHeaders">
                <p class="text-align-bottom m-0">NAME</p>
            </div>
            <div class="d-flex col-md-4 projectHeaders">
                <p class="text-align-bottom m-0">ADDRESS</p>
            </div>
            <div class=" d-flex col-md-3 projectHeaders">
                <p class="text-align-bottom m-0">COST</p>
            </div>
            <div class=" d-flex col-md-1 projectHeaders">
                <p class="text-align-bottom m-0">VIEW</p>
            </div>
        </div>
    </div>
</div>
