<div class="jumbotron vertical-center">
    <div class="container d-flex justify-content-center marginDown">
        <form class="formStyles row" style="max-width: 800px">
            <div class="form-group upDownMargin">
                <label for="exampleInputEmail1" style="font-size: 20px; font-weight: bold">Title</label>
                <br>
                <input type="text" class="form-control" id="edit-title" value="{{scope.title}}" aria-describedby="emailHelp"
                    placeholder="Enter the scope title" style="border: solid 2px black">
            </div>
            <div class="form-group upDownMargin">
                <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Description</label>
                <input type="text" class="form-control" id="edit-description" placeholder="Enter the description"
                    style="border: solid 2px black" value="{{scope.description}}">
            </div>
            <div class="dropdown">
                <label for="progress" style="font-size: 20px; font-weight: bold">Progress</label>
                <select id="edit-is_complete" name="dropdown_progress" style="border: solid 2px black" value="{{scope.is_complete}}">
                    <option value="Not started">Not started</option>
                    <option value="Delayed">Delayed</option>
                    <option value="25%">25%</option>
                    <option value="50%">50%</option>
                    <option value="75%">75%</option>
                    <option value="Complete">Complete</option>
                </select>
            </div>
            <div class="d-flex justify-content-end loginButton">
                <button type="submit" class="upDownMargin btn btn-primary" id="editScopeBtn">Submit</button>
            </div>
        </form>
    </div>
</div>

{{!-- Modal To Edit a Scope --}}
{{!-- <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: gray">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color:white; font-weight: bold">Edit
                    Scope</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: gray">
                <form class="row" style="max-width: 800px">
                    <div class="form-group upDownMargin">
                        <label for="exampleInputEmail1" style="font-size: 20px; font-weight: bold">Title</label>
                        <br>
                        <input type="text" class="form-control" id="edit-title" aria-describedby="emailHelp"
                            placeholder="Enter the scope title" style="border: solid 2px black">
                    </div>
                    <div class="form-group upDownMargin">
                        <label for="exampleInputPassword1"
                            style="font-size: 20px; font-weight: bold">Description</label>
                        <input type="text" class="form-control" id="edit-description"
                            placeholder="Enter the description" style="border: solid 2px black">
                    </div>
                    <div class="dropdown">
                        <label for="progress" style="font-size: 20px; font-weight: bold">Progress</label>
                        <select id="edit-is_complete" name="dropdown_progress" style="border: solid 2px black">
                            <option value="Not started">Not started</option>
                            <option value="Delayed">Delayed</option>
                            <option value="25%">25%</option>
                            <option value="50%">50%</option>
                            <option value="75%">75%</option>
                            <option value="Complete">Complete</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end loginButton">
                        <button type="submit" class="upDownMargin btn btn-primary" id="editScopeBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> --}}